Repository Cmerrill1713/universal-ai-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write, prettier --write --parser sql

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "npx tsx scripts/auto-fix-syntax.ts",
    "eslint --config .eslintrc.autofix.json --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "npx tsx scripts/auto-fix-syntax.ts",
    "eslint --config .eslintrc.autofix.json --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.sql": ["prettier --write --parser sql"]
}

fix: upgrade @opentelemetry/auto-instrumentations-node from 0.50.2 to 0.62.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @opentelemetry/instrumentation from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @opentelemetry/exporter-trace-otlp-http from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @opentelemetry/sdk-node from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @opentelemetry/exporter-metrics-otlp-http from 0.53.0 to 0.203.0
  package-lock.json
  package.json
Due: prettier --write

fix: Resolve Jest hanging issues
  package.json
Due: prettier --write

wip: AB-MCTS TypeScript integration improvements
  rust-services/ab-mcts-service/typescript-integration/http-bridge.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Rust service infrastructure improvements
  rust-services/ab-mcts-service/src/bin/http_server.rs
  rust-services/ab-mcts-service/src/http_server.rs
Due: none

feat: Docker and infrastructure improvements
  DOCKER_ARCHITECTURE.md
  RUST_GO_MIGRATION_STATUS.md
  docker-compose.rust-services.yml
Due: prettier --write

fix: Remove large build artifacts and update .gitignore
  .gitignore
Due: none

fix: Remove electron-frontend directory and update .gitignore
  .gitignore
Due: none

fix(security): Address critical npm vulnerabilities - reduce from 39 to 5
  package-lock.json
  package.json
Due: prettier --write

feat(security): Enhance GitHub security features and Dependabot configuration
  .github/SECURITY.md
  .github/dependabot.yml
Due: prettier --write

Remove GitHub workflows to avoid permission issues
  .github/workflows/adaptive-autofix.yml
  .github/workflows/advanced-security-setup.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/auto-fix.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-security.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/discussions-automation.yml
  .github/workflows/docker-build.yml
  .github/workflows/gitleaks.yml
  .github/workflows/performance-test.yml
  .github/workflows/pre-commit-hooks.yml
  .github/workflows/qa.yml
  .github/workflows/repository-sync.yml
  .github/workflows/rust-ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/sweet-athena-ci.yml
  .github/workflows/sweet-athena-integration.yml
  .github/workflows/syntax-check.yml
  .github/workflows/syntax-validation.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-puppeteer.yml
Due: prettier --write

Fix Go module dependencies
  go.mod
  go.sum
Due: none

feat: Integrate GitHub MCP with Librarian service for embeddings and memory
  mcp-config.json
  src/mcp/github-mcp-server.ts
  src/mcp/postgres-client.ts
  src/services/github-webhook-handler.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Complete GitHub MCP integration with Librarian service
  GITHUB_MCP_INTEGRATION_COMPLETE.md
  mcp-config.json
Due: prettier --write

feat: Add Agency Swarm Local Integration
  AGENCY_SWARM_INTEGRATION_PLAN.md
  AGENT_SWARM_INTEGRATION_PLAN.md
  mcp-config.json
  src/mcp/agency-swarm-local-mcp-server.ts
  src/mcp/agent-swarm-mcp-server.ts
  src/services/agency-swarm-service/main.py
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat(coordinator,runner,gateway): wire knowledge via librarian, add Rust+Go runner, and update gateway
  Cargo.toml
  RUN_ASSISTANT.md
  crates/assistantd/src/main.rs
  crates/librarian-coordinator/Cargo.toml
  crates/librarian-coordinator/src/main.rs
  go-services/api-gateway/main.go
  knowledge-grounding/context/cmd/main.go
  knowledge-grounding/context/go.mod
  knowledge-grounding/gateway/cmd/main.go
  knowledge-grounding/sync/cmd/main.go
  package.json
  server/gateway.mjs
  tools/run-assistant-rust-go.sh
  tools/run-assistant.sh
Due: prettier --write

fix: Stabilize imports + endpoint verification
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  COMPLETE_ENDPOINT_STATUS_REPORT.md
  COMPREHENSIVE_INVESTIGATION_REPORT.md
  Dockerfile.python-api
  ENDPOINT_FIX_COMPLETE.md
  EXECUTIVE_SUMMARY.md
  FINAL_COMPLETE_REPORT.md
  INDEPENDENT_VERIFICATION_COMPLETE.md
  Makefile
  PYTHONPATH_SETUP_RESULTS.md
  VERIFICATION_COMPLETE.md
  api/__init__.py
  api/app.py
  api/routers/__init__.py
  api/routers/health.py
  api/routers/tasks.py
  api/routers/users.py
  docker-compose.python-api.yml
  pyproject.toml
  requirements-api.txt
  scripts/__init__.py
  scripts/check_endpoints.py
  scripts/import_smoke.py
  scripts/independent_verifier.py
  scripts/test_archive_isolation.py
  sitecustomize.py
  src/__init__.py
  src/config.py
  src/core/training/grade_record.py
  src/utils.py
Due: prettier --write

feat: Add enhanced verifier v2 with import checks and OpenAPI discovery
  scripts/independent_verifier_v2.py
Due: none

feat: Add database health check script
  scripts/db_health.py
Due: none

feat: Add error handling middleware pattern
  api/app.py
  src/middleware/__init__.py
  src/middleware/error_handler.py
Due: none

fix: Treat 422 as OK for POST requests in verifier
  scripts/independent_verifier_v2.py
Due: none

feat: Make container-only module checks optional in verifier
  scripts/independent_verifier_v2.py
Due: none

docs: Document Postgres auth fix for corrections endpoints
  issues/POSTGRES_AUTH_FIX.md
Due: prettier --write

docs: Create comprehensive issue docs for all remaining bugs
  .pre-commit-config.yaml
  issues/ARCHIVE_LEGACY_CODE.md
  issues/CRAWLER_INPUT_VALIDATION.md
  issues/CURRENT_TIME_SHIM_FIX.md
  issues/PYTHONPATH_ALIGNMENT.md
  issues/REALTIME_VIBE_TREND_FIX.md
Due: prettier --write

feat: Add lightweight error_sentry.py for quick 500 detection
  Makefile
  scripts/error_sentry.py
Due: none

docs: Add comprehensive merge checklist with verification steps
  MERGE_CHECKLIST.md
Due: prettier --write

docs: Add comprehensive landing summary with full PR documentation
  LANDING_COMPLETE.md
Due: prettier --write

feat: Add final polish - retry backoff + contract tests + 'make green'
  DEFINITION_OF_DONE.md
  FINAL_MERGE_GUIDE.md
  Makefile
  scripts/contract_chat.py
  scripts/error_sentry.py
Due: prettier --write

docs: Add comprehensive PROJECT_UNDERSTANDING.md
  PROJECT_UNDERSTANDING.md
Due: prettier --write

docs: Add comprehensive PROJECT_COMPLETION_PLAN.md
  PROJECT_COMPLETION_PLAN.md
Due: prettier --write
