Repository Cmerrill1713/universal-ai-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write, prettier --write --parser sql

docs: Add PR description for main merge
  PR_DESCRIPTION.md
Due: prettier --write

feat: Add performance baseline tracking + container patch guide
  CONTAINER_PATCHES_GUIDE.md
  Makefile
  scripts/perf_baseline.py
Due: prettier --write

fix: Standardize Dockerfiles with consistent PYTHONPATH
  Dockerfile
  Dockerfile.python-unified
Due: none

test: Add comprehensive test suite foundation
  pytest.ini
  tests/__init__.py
  tests/conftest.py
  tests/test_api_health.py
  tests/test_imports.py
Due: none

docs: Add Quick Start guide and deployment runbooks
  docs/QUICK_START.md
  docs/runbooks/deployment.md
  docs/runbooks/troubleshooting.md
Due: prettier --write

feat: Add K8s deployment configs and security baseline
  k8s/production/00-namespace.yaml
  k8s/production/01-configmap.yaml
  k8s/production/02-secrets.yaml
  k8s/production/10-python-api-deployment.yaml
  k8s/production/20-ingress.yaml
  security/SECURITY_BASELINE.md
  security/rate-limit.yaml
Due: prettier --write

docs: Add v1.0.0 release notes and CHANGELOG
  CHANGELOG.md
  RELEASE_v1.0.0.md
Due: prettier --write

docs: Add PROJECT_COMPLETE_v1.0.0.md - Mission accomplished
  PROJECT_COMPLETE_v1.0.0.md
Due: prettier --write

xcodegen: add workspace-style project + UITest target; add UI tests; Makefile BASE=8014; cargo exclude bmad-workflow; scoped ruff fix
  Cargo.toml
  Makefile
  NeuroForgeApp/NeuroForgeApp.xcodeproj/project.pbxproj
  NeuroForgeApp/NeuroForgeApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  NeuroForgeApp/NeuroForgeApp.xcodeproj/xcshareddata/xcschemes/NeuroForgeApp.xcscheme
  NeuroForgeApp/UITests/BootAndHealthTests.swift
  NeuroForgeApp/UITests/ChatBehaviorTests.swift
  NeuroForgeApp/UITests/RAGTests.swift
  NeuroForgeApp/project.yml
  src/api/api_server.py
  src/api/automation_routes.py
  src/api/evolution_approval_routes.py
  src/api/orchestration_routes.py
  src/api/speech_routes.py
  src/api/tool_calling_agent.py
  src/api/tts_proxy_routes.py
  src/config.py
  src/core/automation/__init__.py
  src/core/automation/browser_control.py
  src/core/automation/macos_control.py
  src/core/autonomous_evolution/login_notifier.py
  src/core/autonomous_evolution/nightly_analyzer.py
  src/core/chat/chat_optimizer.py
  src/core/chat/conversation_storage.py
  src/core/chat/prompt_engineer.py
  src/core/training/grade_record.py
  src/middleware/error_handler.py
  src/middleware/metrics.py
  src/utils.py
Due: prettier --write

feat(e2e): backend fan-out probe + QA frontend UI + XCUITest
  NeuroForgeApp/BULLETPROOF_TEXT_VISIBILITY.md
  NeuroForgeApp/FINAL_SYSTEM_READY.md
  NeuroForgeApp/Sources/NeuroForgeApp/Components/ChatComposer.swift
  NeuroForgeApp/Sources/NeuroForgeApp/Components/KeyCatchingTextEditor.swift
  NeuroForgeApp/Sources/NeuroForgeApp/Features/QABackendProbeView.swift
  NeuroForgeApp/Sources/NeuroForgeApp/Features/SimpleChatView.swift
  NeuroForgeApp/Sources/NeuroForgeApp/main.swift
  NeuroForgeApp/Tests/AppUITests/BackendProbeFromFrontendTests.swift
  NeuroForgeApp/artifacts/probe-sample.json
  NeuroForgeApp/artifacts/ui-tests-matrix.txt
  NeuroForgeApp/launch-athena.sh
  src/api/api_server.py
  src/api/e2e_probe.py
Due: prettier --write

feat(routing): TRM-driven capability router + model selector
  .autoheal.yml
  Makefile
  NeuroForgeApp/artifacts/AUTOHEAL_RESULTS_MATRIX.md
  NeuroForgeApp/artifacts/AUTONOMOUS_AGENT_VALIDATION.md
  NeuroForgeApp/artifacts/AUTONOMOUS_LEARNING_COMPLETE.md
  NeuroForgeApp/artifacts/DYNAMIC_ROUTER_COMPLETE.md
  NeuroForgeApp/artifacts/TRM_ROUTER_COMPLETE.md
  NeuroForgeApp/artifacts/health-matrix.txt
  NeuroForgeApp/artifacts/probe-sample.json
  NeuroForgeApp/artifacts/probe-validation.json
  NeuroForgeApp/artifacts/ui-tests-matrix.txt
  NeuroForgeApp/artifacts/weaviate-aggregate.json
  NeuroForgeApp/artifacts/weaviate-schema.json
  artifacts/auto-heal-summary.txt
  artifacts/autoheal-metrics.json
  scripts/auto_heal.py
  src/api/dynamic_routing.py
  src/api/trm_router.py
  src/core/routing/model_selector.py
  src/core/routing/router_prompt.txt
Due: prettier --write

chore: add .gitignore and .gitattributes with LFS for models
  .gitattributes
  .gitignore
Due: none

chore: exclude large build artifacts and patches
  .gitignore
Due: none

docs: Update README with comprehensive project documentation
  README.md
Due: prettier --write

security: Fix 62 vulnerabilities across all ecosystems
  go.mod
  go.sum
  package-lock.json
  package.json
  requirements-api.txt
  requirements.txt
Due: prettier --write

chore: Remove @supabase/supabase-js dependency
  package-lock.json
  package.json
Due: prettier --write

docs: Add comprehensive system audit report
  COMPREHENSIVE_AUDIT_REPORT.md
Due: prettier --write

feat: Add password rotation script and final A+ hardening
  scripts/rotate_passwords.sh
Due: none

feat: Local-only mode hardening - production-boring security
  .npm-cache/_cacache/content-v2/sha512/e6/c0/3332f3495da0fbf307f677b17bc1ad88307fbf650f440225cd0b9a00637016d168ddbc389b41bdaef5dc82b38c1c694bb380821a23cf938a2a6adccc361b
  .npm-cache/_cacache/index-v5/81/e7/d9e3a621cd85ad2be67c143bfc4a0ed59a7385d7b846687982bdd9628705
  .npm-cache/_logs/2025-10-12T00_00_17_260Z-eresolve-report.txt
  .npm-cache/_update-notifier-last-checked
  Makefile
  docs/local_mode_checklist.md
  scripts/setup_local_mode.sh
  src/core/security/network_guardrail.py
Due: prettier --write

security: Bind all Docker ports to localhost (127.0.0.1)
  docker-compose.athena-clean.yml.bak
  docker-compose.athena.yml.bak
  docker-compose.dev.yml.bak
  docker-compose.go-rust.yml.bak
  docker-compose.grounding.yml.bak
  docker-compose.knowledge-grounding.yml.bak
  docker-compose.override.yml.bak
  docker-compose.python-api.yml.bak
  docker-compose.test.yml.bak
  docker-compose.unified.yml.bak
  docker-compose.yml.bak
Due: none

security: Complete localhost-only lockdown + CI guardrails
  .github/workflows/quality-gate.yml
  docker-compose.athena-clean.yml.bak
  docker-compose.athena.yml.bak
  docker-compose.dev.yml.bak
  docker-compose.go-rust.yml.bak
  docker-compose.grounding.yml.bak
  docker-compose.knowledge-grounding.yml.bak
  docker-compose.override.yml.bak
  docker-compose.python-api.yml.bak
  docker-compose.test.yml.bak
  docker-compose.unified.yml.bak
  docker-compose.yml.bak
Due: prettier --write

docs: Add complete adaptive system analysis and victory summary
  ADAPTIVE_SYSTEM_MAP.md
  VICTORY_SUMMARY.md
Due: prettier --write

feat: Add monitoring, metrics & durability for TRM evolution
  Makefile
  dashboards/trm_evolution_overview.json
  db/migrations/20251012_routing_outcomes.sql
  monitoring/alerts/trm.rules.yml
  monitoring/prometheus/scrape_configs/trm_router.yml
  scripts/learn/approve_and_promote.sh
  scripts/monitoring/import_grafana_dashboard.sh
  sql/routing_outcomes_indexes.sql
  sql/routing_outcomes_table.sql
  src/api/metrics_endpoint.py
  src/core/metrics/prometheus_metrics.py
Due: prettier --write, prettier --write --parser sql

Refactor: Update dependencies and Jest config
  .eslintrc.cjs
  nodejs-api-server/jest.config.js
  nodejs-api-server/src/__tests__/server.test.ts
  package-lock.json
  package.json
  rust-services/ab-mcts-service/Cargo.toml
  rust-services/ab-mcts-service/src/bin/http_server.rs
  rust-services/ab-mcts-service/src/lib.rs
  rust-services/agent-coordination-service/Cargo.toml
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add HTTP server and dependencies
  rust-services/intelligent-parameter-service/Cargo.toml
  rust-services/intelligent-parameter-service/src/bin/http_server.rs
  rust-services/intelligent-parameter-service/src/lib.rs
Due: none

feat: Implement integrated chat service with UAT-Prompt and Neuroforge
  CHAT_INTEGRATION_README.md
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/chat.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/chat-service.ts
  nodejs-api-server/src/services/neuroforge-integration.ts
  nodejs-api-server/src/services/uat-prompt-engine.ts
  scripts/test-chat-integration.ts
  supabase/migrations/20250127000000_chat_messages_table.sql
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write, prettier --write --parser sql

Checkpoint before follow-up message
  src/index.ts
  src/server.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

Checkpoint before follow-up message
  src/config.ts
  src/utils.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

Fix: Restore missing main TypeScript server files
  src/index.ts
  src/server.ts
  tsconfig.json
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

Checkpoint before follow-up message
  nodejs-api-server/src/services/governance-service.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add governance and republic system integration
  GOVERNANCE_INTEGRATION_README.md
  nodejs-api-server/src/routers/governance.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/republic-service.ts
  scripts/test-governance-integration.ts
  supabase/migrations/20250127000001_governance_republic_system.sql
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write, prettier --write --parser sql

feat: Implement Athena central routing system
  ATHENA_ROUTING_README.md
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/sweet-athena.ts
  nodejs-api-server/src/server.ts
  scripts/test-athena-routing-integration.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Integrate Athena backend services
  src/index.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add Rust service integration and validation scripts
  .env.example
  nodejs-api-server/package.json
  scripts/integrate-rust-services-with-athena.ts
  scripts/system-health-check.ts
  scripts/validate-athena-system.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

Path conditions:
  npx tsx scripts/auto-fix-syntax.ts: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  eslint --config .eslintrc.autofix.json --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  prettier --write --parser sql: any of: *.sql
