Repository Cmerrill1713/universal-ai-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write, prettier --write --parser sql

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "npx tsx scripts/auto-fix-syntax.ts",
    "eslint --config .eslintrc.autofix.json --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "npx tsx scripts/auto-fix-syntax.ts",
    "eslint --config .eslintrc.autofix.json --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.sql": ["prettier --write --parser sql"]
}

feat: Integrate MLX and Ollama for AI capabilities
  .env.example
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/chat.ts
  nodejs-api-server/src/services/chat-service.ts
  nodejs-api-server/src/services/mlx-integration.ts
  nodejs-api-server/src/services/neuroforge-integration.ts
  nodejs-api-server/src/services/ollama-integration.ts
  scripts/test-real-ai-integration.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Document missing components and implementation status
  MISSING_COMPONENTS_ANALYSIS.md
Due: prettier --write

Checkpoint before follow-up message
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/dspy.ts
  nodejs-api-server/src/routers/intelligent-parameters.ts
  nodejs-api-server/src/routers/mlx.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/dspy-orchestrator.ts
  nodejs-api-server/src/services/intelligent-parameter-service.ts
  nodejs-api-server/src/services/mlx-fine-tuning-service.ts
  scripts/test-missing-components-integration.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add default model and provider configuration
  .env.example
  nodejs-api-server/src/routers/chat.ts
  nodejs-api-server/src/routers/dspy.ts
  nodejs-api-server/src/routers/intelligent-parameters.ts
  nodejs-api-server/src/routers/mlx.ts
  nodejs-api-server/src/services/chat-service.ts
  nodejs-api-server/src/services/dspy-orchestrator.ts
  nodejs-api-server/src/services/intelligent-parameter-service.ts
  nodejs-api-server/src/services/mlx-fine-tuning-service.ts
  scripts/test-missing-components-integration.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

Refactor: Update API Gateway port and add core modules
  backups/20250911_213104/docker-compose.go-rust.yml
  docker-compose.go-rust.yml
  docker-compose.yml
  go-services/api-gateway/README.md
  go-services/api-gateway/guardrails.go
  go-services/api-gateway/main.go
  go-services/monitoring-service/main.go
  src/api/api_server.py
  src/api/evolution_approval_routes.py
  src/core/assessment/__init__.py
  src/core/assessment/response_judge.py
  src/core/assessment/response_reviewer.py
  src/core/engines/__init__.py
  src/core/engines/local_model_manager.py
  src/core/logging/__init__.py
  src/core/logging/event_tracker.py
  src/core/unified_orchestration/__init__.py
  src/core/unified_orchestration/unified_chat_orchestrator.py
Due: prettier --write

Checkpoint before follow-up message
  comprehensive_system_test.py
  explore_directions.py
  focused_capability_test.py
  focused_running_services_test.py
  integration_test.py
  orchestration_benchmark.py
  quick_experiment.py
  real_world_experiments.py
  run_real_world_experiments.py
  src/core/config/shared_config.py
  src/core/health/shared_health.py
  vm_coding_agent_demo.py
  vm_coding_agent_integration_test.py
Due: none

Refactor: Resolve port conflicts and add shared logger
  ARCHITECTURE.md
  GUTLABS_INTEGRATION_COMPLETE.md
  src/core/logging/shared_logger.py
Due: prettier --write

feat: Add GitLab integration service
  nodejs-api-server/src/services/gitlab-integration.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add GitLab integration API endpoints
  .env.example
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/server.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Implement Athena API Gateway and unify services
  ATHENA_CENTRIC_INTEGRATION_PLAN.md
  ATHENA_CENTRIC_SYSTEM.md
  athena-gateway/Dockerfile
  athena-gateway/main.py
  athena-gateway/requirements.txt
  docker-compose.athena.yml
  launch-neuroforge-native.sh
  neuroforge_native_gui.py
  start-athena-unified.sh
  test-athena-integration.py
Due: prettier --write

feat: Add Athena command capabilities documentation and tests
  ATHENA_COMMAND_VERIFICATION.md
  test-athena-command-capabilities.py
Due: prettier --write

Checkpoint before follow-up message
  demonstrate-athena-capabilities.py
  pids/api-gateway.pid
Due: none

Refactor: Remove hardcoded API keys and improve security
  ATHENA_NEXT_LEVEL_COMPLETE.md
  FINAL_ATHENA_NEXT_LEVEL_STATUS.md
  PHASE1_CRITICAL_FIXES_REPORT.json
  PHASE2_REAL_SERVICES_REPORT.json
  PHASE3_PRODUCTION_HARDENING_REPORT.json
  fix-critical-p0-blockers.py
  go-services/api-gateway/shared/secrets-manager.go
  go-services/shared/secrets-manager.go
  implement-phase2-real-services.py
  implement-phase3-production-hardening.py
  nginx/athena.conf
  scripts/autoscale-athena.sh
  src/agents/cognitive/real_cognitive_agents.py
  src/middleware/security_middleware.py
  src/services/monitoring_service.py
  src/services/performance_optimizer.py
  src/services/real_dspy_service.py
  src/services/redis_service.py
  static/monitoring-dashboard.html
  tests/test_api_endpoints.py
Due: prettier --write

feat: Implement Family Athena personalization features
  FAMILY_ATHENA_COMPLETE.md
  FAMILY_ATHENA_PHASE4_REPORT.json
  implement-family-athena.py
  src/family/family_api.py
  src/family/family_calendar.py
  src/family/family_knowledge.py
  src/family/family_profiles.py
  static/family-dashboard.html
  tests/test_family_athena.py
Due: prettier --write

feat: Complete Family Athena integration and testing
  FAMILY_ATHENA_INTEGRATION_COMPLETE.md
  FAMILY_ATHENA_INTEGRATION_REPORT.json
  FAMILY_ATHENA_PERFORMANCE_REPORT.json
  FAMILY_ATHENA_SECURITY_REPORT.json
  implement-family-integrations.py
  run_family_integration_tests.py
  src/family/athena_gateway_integration.py
  tests/test_family_e2e_integration.py
  tests/test_family_performance.py
  tests/test_family_security.py
Due: prettier --write

feat: Implement seamless integration for Family Athena
  FAMILY_ATHENA_PERFORMANCE_REPORT.json
  FAMILY_ATHENA_SEAMLESS_INTEGRATION_COMPLETE.md
  FAMILY_ATHENA_SECURITY_REPORT.json
  family_athena_config.yaml
  implement-seamless-integration.py
  seamless_integration_runner.py
  src/family/data_synchronization.py
  src/family/health_monitoring.py
  src/family/service_mesh.py
  src/family/unified_config.py
  unified_startup.py
Due: prettier --write

Checkpoint before follow-up message
  nodejs-api-server/package-lock.json
  rust-services/parameter-analytics-service/Cargo.lock
Due: prettier --write

feat: Implement unified platform integration
  UNIFIED_PLATFORM_INTEGRATION_COMPLETE.md
  implement-unified-platform-integration.py
  service_mesh_integration.py
  start-unified-platform.sh
  unified_api_gateway.py
  unified_data_layer.py
Due: prettier --write

Checkpoint before follow-up message
  .env.test
  nodejs-api-server/package-lock.json
  nodejs-api-server/package.json
  nodejs-api-server/src/routers/sweet-athena.ts
  nodejs-api-server/src/server.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/src/services/governance-service.ts
  nodejs-api-server/src/services/mlx-integration.ts
  nodejs-api-server/src/services/neuroforge-integration.ts
  nodejs-api-server/src/services/ollama-integration.ts
  nodejs-api-server/src/services/republic-service.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add product manager system verification script
  product-manager-verification.py
Due: none

feat: Add logging and startup scripts for services
  FINAL_SYSTEM_STATUS_REPORT.md
  start-services-manual.py
  start-unified-simple.sh
  test-system-working.py
  unified_api_gateway.py
Due: prettier --write

Checkpoint before follow-up message
  nodejs-api-server/src/server.ts
  workflow-test-report.json
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Implement GitLabs integration and CI/CD pipeline
  .gitlab-ci.yml
  .gitlabs-config
  GITLABS_INTEGRATION_COMPLETE.md
  GITLABS_README.md
  gitlabs-context-enhancer.py
  gitlabs-context-report.json
  gitlabs-project-config.json
  gitlabs-webhooks.json
  setup-gitlabs-integration.py
  setup-gitlabs.sh
Due: prettier --write

feat: Add governance router and integrate into server
  nodejs-api-server/src/routers/governance.ts
  nodejs-api-server/src/server.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Implement system status and fix gateway services
  SYSTEM_OPERATIONAL_STATUS.md
  enhanced-gateway.py
  fix-gateway-services.py
  gateway-test-results.json
Due: prettier --write

feat: Add comprehensive integration test suite
  comprehensive-integration-test.py
  integration-test-report.json
Due: prettier --write

Checkpoint before follow-up message
  universal-ai-tools-desktop/package-lock.json
  universal-ai-tools-desktop/package.json
  universal-ai-tools-desktop/src/index.html
  universal-ai-tools-desktop/src/main.ts
  universal-ai-tools-desktop/src/preload.ts
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

Checkpoint before follow-up message
  enhanced-integration-report.json
  fix-integration-issues.py
  integration-fix-report.json
  integration-test-report.json
  start-enhanced-services.py
  start-simple-enhanced-services.py
Due: prettier --write

Checkpoint before follow-up message
  start-simple-working-services.py
Due: none

feat: Implement GitLab integration with mock data fallback
  GITLAB_INTEGRATION_SETUP.md
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/test-gitlab-server.js
  nodejs-api-server/test-gitlab.js
  verify-gitlab-integration.js
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

Checkpoint before follow-up message
  GITLAB_INTEGRATION_STATUS_REPORT.md
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/test-gitlab-standalone.js
  test-gitlab-integration.js
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add PracticalAthena demo script
  PRACTICAL_ATHENA_DEMO.py
Due: none

Checkpoint before follow-up message
  auto-maintenance-system.py
  dependency-manager.py
  dependency-status.json
  health-report.json
  logs/adaptive-fixer.pid
  logs/advanced-healing.pid
  logs/error-monitor.pid
  logs/model-optimizer.pid
  logs/predictive-healing.pid
  logs/syntax-guardian.pid
  logs/vision-debugger.pid
  models/agents/__pycache__/lfm2_integration.cpython-313.pyc
  pids/api-gateway.pid
  python-services/__pycache__/pyvision_bridge.cpython-313.pyc
  python-services/__pycache__/vision-service.cpython-313.pyc
  python-services/mlx-fastvlm-service/__pycache__/server.cpython-313.pyc
  system-health-monitor.py
  unified-workflow-manager.py
  workflow-report.json
Due: prettier --write

feat: Implement GitLab webhook handling and security
  GITLAB_WEBHOOK_IMPLEMENTATION_COMPLETE.md
  GITLAB_WEBHOOK_SETUP.md
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  test-gitlab-webhooks.js
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write

feat: Add GitLab webhook analytics and monitoring
  GITLAB_WEBHOOK_ENHANCEMENTS_COMPLETE.md
  nodejs-api-server/src/routers/gitlab.ts
  nodejs-api-server/src/services/gitlab-integration.ts
  nodejs-api-server/src/services/webhook-optimizer.ts
  webhook-monitoring-dashboard.html
Due: npx tsx scripts/auto-fix-syntax.ts, eslint --config .eslintrc.autofix.json --fix, prettier --write
