Repository Cmerrill1713/universal-ai-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

# Pre-commit configuration
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=100']

  # Python linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']
      - id: ruff-format

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: ['--ignore-missing-imports']

  # TypeScript/JavaScript with ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        require_serial: true

  # Prettier formatting
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        types: [text]
        files: \.(js|jsx|ts|tsx|json|md|yaml|yml)$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']

  # Gitleaks secret scanning
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks
        args: ['--config', '.gitleaks.toml']

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.0-beta
    hooks:
      - id: hadolint-docker

fix: add monitoring endpoints and enhance WebSocket CORS configuration
  src/server.ts
Due: eslint, prettier

🤖 feat: Implement comprehensive GitHub automation tools
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/auto-fix.yml
  .github/workflows/codeql-security.yml
  .github/workflows/pre-commit-hooks.yml
  GITHUB_AUTOMATION_SETUP.md
Due: prettier

test: GitHub automation demo file
  test-automation.js
Due: eslint, prettier

🔧 fix: Update GitHub Actions workflows with proper Git authentication
  .github/workflows/auto-fix.yml
  .github/workflows/codeql-security.yml
  .github/workflows/pre-commit-hooks.yml
Due: prettier

fix: update GitHub workflows to use new output syntax and fix duplicate job names
  .github/workflows/ci.yml
  .github/workflows/syntax-validation.yml
Due: prettier

test: add test file to verify GitHub Actions workflows are working
  test-workflow.md
Due: prettier

fix: convert puppeteer.config.js to ES module syntax
  puppeteer.config.js
Due: eslint, prettier

fix: skip puppeteer download in CI workflows to avoid installation errors
  .github/workflows/ci.yml
  .github/workflows/syntax-validation.yml
Due: prettier

test: verify syntax validation and auto-fix workflows
  test-syntax.ts
Due: eslint, prettier

test: add workflow to verify Puppeteer installation across platforms
  .github/workflows/test-puppeteer.yml
Due: prettier

fix: add puppeteerrc configuration to skip browser downloads
  .puppeteerrc.cjs
Due: none

fix: implement critical security improvements (Issue #4)
  check-rls-and-security.ts
  src/config/security.ts
  src/mcp/integrated-supabase-mcp-server.ts
  src/middleware/auth.ts
  src/middleware/cors-config.ts
  src/middleware/security-headers.ts
  src/middleware/sql-injection-protection.ts
  test-workflow-simple.ts
Due: eslint, prettier

fix: improve device authentication and testing
  src/routers/device-auth.ts
  tests/device-auth-api.test.ts
Due: eslint, prettier

docs: complete git repository cleanup and context implementation
  .gitignore
  GIT_REPOSITORY_CLEANUP_COMPLETE.md
Due: prettier

feat: implement macOS Swift frontend with comprehensive Supabase context integration
  scripts/store-conversation-context.ts
  scripts/test-context-retrieval.ts
  src/routers/context.ts
  src/server.ts
Due: eslint, prettier

feat: implement production readiness improvements
  Dockerfile.production
  deploy/production.config.ts
  docker-compose.production.yml
  docs/DEVICE_AUTH_API.md
  src/config/ssl-config.ts
  src/middleware/device-auth-rate-limiter.ts
  src/services/device-auth-audit.ts
  supabase/migrations/20250801_device_authentication.sql
Due: eslint, prettier

feat: enhance device authentication with production audit logging
  src/routers/device-auth.ts
  src/server.ts
Due: eslint, prettier

security: fix all 23 GitHub security vulnerabilities
  package-lock.json
  package.json
Due: prettier

Fix tree-sitter TypeScript integration
  src/types/index.ts
  src/types/tree-sitter.d.ts
  src/utils/ast-parser.ts
Due: eslint, prettier

Fix router parameter and interface issues
  src/routers/code-generation.ts
  src/utils/ast-parser.ts
Due: eslint, prettier

fix: implement null safety checks and fix error codes in routers
  src/routers/code-generation.ts
  src/routers/personality.ts
Due: eslint, prettier

fix: update tree-sitter dependencies to compatible versions
  package.json
Due: prettier

fix: correct tree-sitter-python version to 0.21.0
  package.json
Due: prettier

fix: update package-lock.json for tree-sitter dependencies
  package-lock.json
Due: prettier

fix: resolve endpoint failures by fixing alias import paths
  src/routers/context.ts
  src/services/ab-mcts-tree-storage.ts
  src/services/context-storage-service.ts
  src/services/feedback-collector.ts
Due: eslint, prettier

chore: remove HRM paths; LFM2-only routing; macOS APIService reliability; cleanup before rebase
  scripts/test-ollama-supabase-integration.ts
  src/middleware/auth.ts
  src/services/device-auth-websocket.ts
  ui/src/lib/api-enhanced.ts
Due: eslint, prettier

security: apply critical authentication middleware fixes
  src/middleware/__tests__/auth.test.ts
  src/middleware/auth.ts
Due: eslint, prettier

feat(middleware): enhance authentication and security layers
  src/middleware/README-STANDARDIZED-VALIDATION.md
  src/middleware/__tests__/auth.test.ts
  src/middleware/__tests__/standardized-validation.test.ts
  src/middleware/auth.ts
  src/middleware/auto-context-middleware.ts
  src/middleware/basic-content-filter.ts
  src/middleware/comprehensive-rate-limiter.ts
  src/middleware/content-safety-middleware.ts
  src/middleware/enhanced-validation.ts
  src/middleware/error-tracking-middleware.ts
  src/middleware/global-error-handler.ts
  src/middleware/standardized-error-handler.ts
  src/middleware/validation-schemas.ts
Due: eslint, prettier
