Repository Cmerrill1713/universal-ai-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system
  require_serial: true

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

feat(agents): enhance agent registry and reasoning capabilities
  src/agents/agent-registry.ts
  src/agents/codebase-optimizer-agent.ts
  src/agents/enhanced-reasoning-agent.ts
  src/agents/enhanced-reasoning-agent.ts.backup
  src/agents/specialized/conversational-voice-agent.ts
  src/agents/specialized/conversational-voice-agent.ts.backup
  src/agents/specialized/enhanced-codebase-optimizer-agent.ts
  src/agents/specialized/graphrag-reasoning-agent.ts
  src/agents/specialized/graphrag-reasoning-agent.ts.backup
  src/agents/specialized/multi-tier-router-agent.ts
  src/agents/specialized/performance-optimization-agent.ts
  src/agents/specialized/r1-reasoning-agent.ts
Due: eslint, prettier

feat: enable DSPY optimization and update core configuration
  .cursor/mcp.json
  .env
  GIT_CORRECTIONS_REPORT.md
  package-lock.json
  package.json
  scripts/agent-api-test.mjs
  scripts/agent-framework-test.mjs
  scripts/comprehensive-model-test.mjs
  scripts/comprehensive-rag-evaluation.mjs
  scripts/desktop-content-indexer.mjs
  scripts/fixed-r1-rag-test.mjs
  scripts/manual-rag-indexing.mjs
  scripts/mcp-server-wrapper.sh
  scripts/mcp-server.js
  scripts/model-benchmark.mjs
  scripts/performance-optimization-implementation.mjs
  scripts/performance-test.js
  scripts/populate-rag-system.mjs
  scripts/quick-model-test.mjs
  scripts/r1-rag-system-test.mjs
  scripts/r1-reasoning-demo.mjs
  scripts/rag-system-comparison.mjs
  scripts/real-performance-optimizations.mjs
  scripts/simple-content-seeding.mjs
  scripts/test-model-integration.mjs
  scripts/test-rag-system.mjs
  src/config/environment.ts
  src/mcp/integrated-supabase-mcp-server.ts
  src/mcp/supabase-mcp-server.ts
  src/server.ts
  src/types/index.ts
  src/utils/dependency-container.ts
  src/utils/object-pool.ts
  src/utils/voice-cache.ts
  src/utils/voice-circuit-breaker.ts
Due: eslint, prettier

test: update test suite and configuration
  babel.config.cjs
  src/api/openapi.ts
  tests/api/assistant.test.ts
  tests/black-box/api-black-box.test.ts
  tests/graph-r1-test.ts
  tests/middleware/auth.test.ts
  tests/middleware/error-tracking.test.ts
  tests/security/rls.ai_memories.int.test.ts
  tests/security/rls.audit_events.int.test.ts
  tests/setup.ts
  tests/uat/uat-user-journeys.test.ts
  tests/voice/auth-mock.test.ts
  tests/voice/voice-auth-performance.test.ts
  tests/voice/voice-performance.test.ts
  tests/voice/voice-system.test.ts
  tsconfig.tsbuildinfo
Due: eslint, prettier

fix(macOS): update AgentDataModels component
  macOS-App/UniversalAITools/Views/Components/AgentDataModels.swift
Due: none

fix: update LoggingTypes and BackendMonitoringIntegration
  macOS-App/UniversalAITools/Models/LoggingTypes.swift
  macOS-App/UniversalAITools/Services/BackendMonitoringIntegration.swift
Due: none

chore: add TrendDirection model and build scripts
  macOS-App/UniversalAITools/Models/TrendDirection.swift
  macOS-App/UniversalAITools/quick_build_check.sh
  push-without-workflows.sh
Due: none

restore: add back workflow files locally
  .github/workflows/ci.yml
Due: prettier

feat: comprehensive GitHub automation and Arc UI integration
  .github/ISSUE_TEMPLATE/config.yml
  .github/branch-protection.json
  .github/cliff.toml
  .github/labeler.yml
  .github/workflows/auto-format.yml
  .github/workflows/auto-label.yml
  .github/workflows/automated-testing.yml
  .github/workflows/changelog.yml
  .github/workflows/code-quality.yml
  .github/workflows/security-scan.yml
  .github/workflows/stale.yml
  GITHUB_AUTOMATION_COMPLETE.md
  GITHUB_SSH_SETUP.md
  github-push-solution.md
  macOS-App/ArcUIDemo/ArcUIDemo.swift
  macOS-App/ArcUIDemo/README.md
  macOS-App/ArcUIDemo/build-arc-demo.sh
  macOS-App/UniversalAITools/Arc/ArcAgentDashboard.swift
  macOS-App/UniversalAITools/CLAUDE.md
  macOS-App/UniversalAITools/Services/UnifiedDataModels.swift
  macOS-App/UniversalAITools/UniversalAITools.xcodeproj/project.pbxproj
  macOS-App/UniversalAITools/UniversalAITools.xcodeproj/xcshareddata/xcschemes/UniversalAITools.xcscheme
  macOS-App/UniversalAITools/Views/Components/KnowledgeGraphView3D.swift
  macOS-App/UniversalAITools/Views/Components/SwiftUIPerformancePatterns.swift
  macOS-App/UniversalAITools/Views/Placeholders.swift
  macOS-App/UniversalAITools/verify_compilation.sh
Due: prettier

chore: add Arc UI demo run script
  macOS-App/ArcUIDemo/run-demo.sh
Due: none

fix: resolve Swift compilation errors for macOS app
  macOS-App/UniversalAITools/Models/ChartDataPoint.swift
  macOS-App/UniversalAITools/Models/HealthTypes.swift
  macOS-App/UniversalAITools/Models/MonitoringTypes.swift
  macOS-App/UniversalAITools/Models/SharedTypes.swift
  macOS-App/UniversalAITools/Services/ChangeTracker.swift
Due: none

feat: add comprehensive Swift GitHub automation workflows
  .github/workflows/swift-auto-format.yml
  .github/workflows/swift-ci.yml
  .github/workflows/swift-dependency-management.yml
  .github/workflows/swift-pr-automation.yml
  .github/workflows/swift-quality-validation.yml
Due: prettier

docs: Add security policy for GitHub security scanning requirements
  .github/SECURITY.md
Due: prettier

feat: Complete user preference isolation validation and testing
  USER_PREFERENCE_ISOLATION_VALIDATION_REPORT.md
  electron-frontend/test-end-to-end-isolation.mjs
  electron-frontend/test-preference-isolation.mjs
Due: prettier

feat: 🚀 Add advanced GitHub features for AI-powered development
  electron-frontend/.github/ISSUE_TEMPLATE/frontend-bug-report.yml
  electron-frontend/.github/pull_request_template.md
  electron-frontend/.github/workflows/advanced-security-setup.yml
  electron-frontend/.github/workflows/ai-code-review.yml
  electron-frontend/.github/workflows/enable-discussions.yml
  electron-frontend/GITHUB_ADVANCED_FEATURES.md
  electron-frontend/renovate.json
Due: prettier

fix: Move GitHub advanced features to root directory
  .github/ISSUE_TEMPLATE/frontend-bug-report.yml
  .github/pull_request_template.md
  .github/workflows/advanced-security-setup.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/enable-discussions.yml
  .github/workflows/test.yml
  GITHUB_ADVANCED_FEATURES.md
  renovate.json
Due: prettier

fix: improve device authentication and testing
  src/routers/device-auth.ts
  tests/device-auth-api.test.ts
Due: eslint, prettier

docs: complete git repository cleanup and context implementation
  .gitignore
  GIT_REPOSITORY_CLEANUP_COMPLETE.md
Due: prettier

feat: Add advanced GitHub Pro features for AI-powered development workflow
  .github/ISSUE_TEMPLATE/performance-issue.yml
  .github/ISSUE_TEMPLATE/security-vulnerability.yml
  .github/workflows/advanced-security-setup.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/discussions-automation.yml
Due: prettier

feat: implement macOS Swift frontend with comprehensive Supabase context integration
  scripts/store-conversation-context.ts
  scripts/test-context-retrieval.ts
  src/routers/context.ts
  src/server.ts
Due: eslint, prettier

security: Fix high-severity vulnerabilities and update workflows
  .github/workflows/ai-code-review.yml
  package-lock.json
  package.json
Due: prettier

fix: resolve GitHub Actions workflow failures
  src/utils/logger.ts
  ui/package.json
Due: eslint, prettier

fix: resolve @amplitude/analytics-browser dependency conflict
  src/middleware/context-injection-middleware.ts
  src/middleware/global-error-handler.ts
  src/routers/assistant.ts
  src/routers/athena.ts
  src/routers/mcp-agent.ts
  src/routers/mobile-orchestration.ts
  src/routers/speech.ts
  src/server.ts
  src/services/architecture-advisor-service.ts
  src/services/athena-websocket.ts
  src/services/context-injection-service.ts
  src/services/context-storage-service.ts
  src/types/architecture.ts
  src/types/globals.d.ts
  src/types/index.ts
  ui/package.json
Due: eslint, prettier

feat: Implement browser window popup for web scraping with EPIPE error fixes
  src/routers/chat.ts
  src/routers/knowledge-scraper.ts
  src/services/browser-scraping-bridge.ts
  src/services/knowledge-scraper-service.ts
Due: eslint, prettier

fix: resolve ESLint errors - duplicate imports and unused variables
  src/middleware/global-error-handler.ts
  src/routers/assistant.ts
  src/routers/athena.ts
  src/routers/chat.ts
  src/routers/mcp-agent.ts
  src/routers/mobile-orchestration.ts
  src/routers/speech.ts
  src/server.ts
Due: eslint, prettier

feat: add project manager tests and config constants
  src/config/constants.ts
  test-project-manager.ts
  test-project-simple.ts
Due: eslint, prettier

fix: update middleware with security improvements
  src/middleware/request-security.ts
  src/middleware/request-validator.ts
  src/middleware/sql-injection-protection.ts
Due: eslint, prettier

feat: add code templates and fixes migration
  supabase/migrations/20250830_code_templates_and_fixes.sql
Due: none

fix: resolve all TypeScript compilation errors
  projects/NewTradingBot/project_index.json
  projects/NewTradingBot/requirements.txt
  projects/NewTradingBot/src/core/strategy/strategy_base.py
  projects/NewTradingBot/src/domain/order.py
  projects/NewTradingBot/src/domain/portfolio.py
  projects/NewTradingBot/src/domain/trade.py
  projects/NewTradingBot/src/schemas/order_schemas.py
  projects/NewTradingBot/src/schemas/portfolio_schemas.py
  projects/NewTradingBot/src/schemas/trade_schemas.py
  src/server.ts
  src/services/a2a-communication-mesh.ts
  src/types/index.ts
Due: eslint, prettier

feat: complete Electron frontend integration
  .env.jwt
  .env.template
  archive/old-dashboards/functional_dashboard.html
  archive/old-dashboards/personal_agents_dashboard.html
  archive/old-dashboards/supabase_dashboard.html
  archive/old-servers/ai_assistant_server.js
  archive/old-servers/fixed_server_final.js
  archive/old-servers/personal_agent_router.js
  archive/old-servers/quick_fix_server.js
  archive/old-tests/server-debug.ts
  archive/old-tests/server-minimal-test.ts
  archive/old-tests/server-test-imports.ts
  electron.vite.config.ts
  projects/NewTradingBot/src/core/risk/exposure_manager.py
  projects/NewTradingBot/src/core/risk/position_sizer.py
  projects/NewTradingBot/src/core/risk/risk_calculator.py
  projects/NewTradingBot/src/core/strategy/arbitrage.py
  projects/NewTradingBot/src/core/strategy/mean_reversion.py
  projects/NewTradingBot/src/core/strategy/momentum.py
  projects/NewTradingBot/src/data/market_data.py
  scripts/setup-production.sh
  setup-vault.sql
  src/middleware/.auth-fixed
  supabase/migrations/20250830_parameter_executions.sql
Due: eslint, prettier

feat: Add native iOS vision features to companion app
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/BackendIntegration.swift
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/ContentView.swift
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/VisionService.swift
  UniversalAICompanionPackage/Sources/UniversalAICompanionFeature/VisionView.swift
Due: none

fix: Resolve Jest hanging issues
  jest.config.ci.js
  package.json
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|md|yaml|yml)$
